@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  background-color: #222222;
}

.calculator {
  padding: 16px;
}
.calculator__result {
  background-color: #333;
  padding: 16px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}
.calculator__keyboard {
  margin: 16px 0;
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.calculator__row {
  display: flex;
  gap: 4px;
}
.calculator__key {
  flex-grow: 1;
  background-color: #333;
  padding: 32px;
  display: inline-flex;
  font-size: 24px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.calculator__key:hover {
  background-color: rgba(68, 68, 68, 0.5647058824);
}
.calculator__key:active {
  background-color: rgba(68, 68, 68, 0.5019607843);
}
.calculator__buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.calculator__buttons .calculator__key:nth-child(1) {
  flex-grow: 1;
}
.calculator__buttons .calculator__key:nth-child(2) {
  flex-grow: 1;
}
.calculator__buttons .calculator__key:nth-child(3) {
  flex-grow: 1;
}
.calculator__buttons .calculator__key:nth-child(4) {
  flex-grow: 1;
}
.calculator__buttons .calculator__key:last-child {
  flex-basis: 100%;
  background-color: hsl(16, 100%, 50%);
}
.calculator__buttons .calculator__key:last-child:hover {
  background-color: #ff571a;
}
.calculator__buttons .calculator__key:last-child:active {
  background-color: #ff6229;
}